<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My courses</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let item of items | async" lines="none" size-xs="12" size-md="6" size-xl="3">
        <ion-card >  
          <ion-img src={{item.image}} alt="ion"></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          
        </ion-card> 
      </ion-col>

    </ion-row>
    
    </ion-grid>
</ion-content>
